/* You can add global styles to this file, and also import other style files */
/* стили для дерева */
.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &.children {
    gap: 100px;
  }
}
.children {
  display: flex;
  gap: 30px;

  &.root {
    flex-direction: row;
  }
}

.node {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* стили для элементов дерева */
.components {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row;
}

.name {
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 1rem 0 0 0;

  &::before {
    content: "template";
    font-size: 0.6rem;
    margin-top: -0.6rem;
    position: absolute;
  }
}

.components .children {
  margin-top: 10px;
}

/* стили для корня дерева */
.root {
  padding: 20px;
  border: none;
  box-shadow: none;
}

.button {
  color: rgb(112, 112, 112);
  background-color: none;
  border: none;
}

.bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  font-size: 0.6rem;
}

.bar div {
  display: flex;
  flex-direction: column;
  padding: 2px;
}

.markForCheck.active {
  background-color: rgb(0, 121, 21);
  color: white;
}

.detectChanges.active {
  background-color: rgb(204, 74, 51);
  color: white;
}

.detach.active {
  background-color: rgb(0, 0, 0);
  color: white;
}

.reattach.active {
  background-color: rgb(103, 84, 187);
  color: white;
}

.dirty {
  color: white;
  background-color: rgb(61, 61, 61);
}

.clear {
  background-color: white;
}

.checked {
  color: white !important;
  background-color: rgb(0, 121, 21) !important;
}

.children {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: rows;
}

.buttons {
  display: flex;
  flex-direction: column;
  background-color: none;
}

.lch .active {
  background-color: rgb(236, 54, 54);
  color: white;
}

.bs {
  border: 1px solid #ccc;
  font-size: 1rem;
  text-align: center;
}

:host {
  --bright-blue: oklch(51.01% 0.274 263.83);
  --electric-violet: oklch(53.18% 0.28 296.97);
  --french-violet: oklch(47.66% 0.246 305.88);
  --vivid-pink: oklch(69.02% 0.277 332.77);
  --hot-red: oklch(61.42% 0.238 15.34);
  --orange-red: oklch(63.32% 0.24 31.68);

  --gray-900: oklch(19.37% 0.006 300.98);
  --gray-700: oklch(36.98% 0.014 302.71);
  --gray-400: oklch(70.9% 0.015 304.04);

  --red-to-pink-to-purple-vertical-gradient: linear-gradient(
    180deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --red-to-pink-to-purple-horizontal-gradient: linear-gradient(
    90deg,
    var(--orange-red) 0%,
    var(--vivid-pink) 50%,
    var(--electric-violet) 100%
  );

  --pill-accent: var(--bright-blue);

  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
}
